<h1>Welcome to the Noms Factory</h1>
<p>
  You can find noms n shit!
</p>

<p>
<small>this email was intendted for <%= @user_email %>. If that is not you, then
someone is using your email and you freak da fuck out!</small>
</p>
