<h1>Foods Up, Wut!</h1>
<p>welcome to my food app!</p>
<p>
  yo
</p>

<a href="#hello" data-toggle="modal" class="btn btn-default">HELLO</a>
<a href="#create-event" data-toggle="modal" class="btn btn-success">Create Event</a>
<%= render('events/new_modal') %>

<div id="restaurants">

</div>
<div id="calendar">

</div>


<div id="hello" class="modal fade" tabindex="-1" role="dialog"
aria-labelledby="hello-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
        aria-hidden="true">&times;</button>
        <h4>Hello Modal</h4>
      </div>
      <div class="modal-body">
        <p>Yo Yo!</p>
      </div>
    </div>
  </div>
</div>
